[[source]]
url = "https://pypi.anaconda.org/clinicalgraphics/simple"
verify_ssl = true
name = "clinicalgraphics"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"vtk-linux" = {file = "https://anaconda.org/clinicalgraphics/vtk/8.1.0/download/VTK-8.1.0-cp36-cp36m-linux_x86_64.whl", sys_platform="=='linux'"}
"vtk-darwin" = {file = "https://anaconda.org/clinicalgraphics/vtk/8.1.0/download/VTK-8.1.0-cp36-cp36m-macosx_10_13_x86_64.whl", sys_platform="=='darwin'"}
"vtk-win32" = {file = "https://anaconda.org/clinicalgraphics/vtk/8.1.0/download/VTK-8.1.0-cp36-cp36m-win_amd64.whl", sys_platform="=='win32'"}

[dev-packages]
cmake = {version="~=0.9.0", index="pypi"}
ninja = {version="~=1.7.2.post2", index="pypi"}
setuptools = {version="~=38.5.1", index="pypi"}
wheel = {version="~=0.30.0", index="pypi"}
auditwheel = {version="~=1.8.0", sys_platform="=='linux'", index="pypi"}
delocate = {version="~=0.7.3", sys_platform="=='darwin'", index="pypi"}
flake8 = {version="~=3.5.0", index="pypi"}
"anaconda-client" = {version="~=1.2.2", index="pypi"}

[requires]
python_version = "3.6"
